@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

hr {
    text-align: center;
    margin: 5%;
}

h2 {
    font-size: 40px;
    font-weight: 500;
    margin: 0 0 2% 0;
}

/* /////////////////////////////START//////////////////////////////// */
#one {
    position: relative;
    margin-top: 9vh;
    padding-top: 14vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23aeaeae' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#first {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23aeaeae' fill-opacity='0.2' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.left {
    width: 40%;
}

.bullet_points {
    border: solid 1px;
    padding-left: 15px;
    padding-bottom: 15px;
    margin-top: 5%;
}

.bullet_points li:nth-child(1){
    padding-top: 15px;
}

.right {
    width: 40%;
}

.right p {
    padding: 40px 0;
}

.youtube {
    width: 100%;
    aspect-ratio: 16 / 9;
}

.youtube iframe {
    width: 100%;
    height: 100%;
}

/* /////////////////////////////TWO////////////////////////// */

#two {
    position: relative;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#second {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='152' height='152' viewBox='0 0 152 152'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='temple' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M152 150v2H0v-2h28v-8H8v-20H0v-2h8V80h42v20h20v42H30v8h90v-8H80v-42h20V80h42v40h8V30h-8v40h-42V50H80V8h40V0h2v8h20v20h8V0h2v150zm-2 0v-28h-8v20h-20v8h28zM82 30v18h18V30H82zm20 18h20v20h18V30h-20V10H82v18h20v20zm0 2v18h18V50h-18zm20-22h18V10h-18v18zm-54 92v-18H50v18h18zm-20-18H28V82H10v38h20v20h38v-18H48v-20zm0-2V82H30v18h18zm-20 22H10v18h18v-18zm54 0v18h38v-20h20V82h-18v20h-20v20H82zm18-20H82v18h18v-18zm2-2h18V82h-18v18zm20 40v-18h18v18h-18zM30 0h-2v8H8v20H0v2h8v40h42V50h20V8H30V0zm20 48h18V30H50v18zm18-20H48v20H28v20H10V30h20V10h38v18zM30 50h18v18H30V50zm-2-40H10v18h18V10z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#two h2 {
    margin-top: 2%;
}

.source {
    text-align: right;
    font-size: 16px;
}

table {
    background-color: #fff;
}

.top-comp-table {
    border: 1px solid #C0C0C0;
}

.top-comp-table tr {
    border-bottom: none;
}

.top-comp-table tr:last-child {
    border-bottom: 1px solid #C0C0C0;
}

.top-comp-table td,
.top-comp-table th {
    border: 1px solid #C0C0C0;
    border-bottom: none;
}

.table__cell--brown {
    background-color: #e4dad2;
    font-weight: bold;
}

.table__cell--light-brown {
    background-color: #ebe3dd;
    font-weight: bold;
}

.table__cell--yellow{
    background-color: #fcfab39c;
    font-weight: bold;
}

.col-10 {
    width: 10%;
}

.col-20 {
    width: 27%;
}

table {
    margin-top: 10%;
    border-collapse: collapse;
}

td {
    border: solid 1px #a1a1a1;
    height: 25px;
}

td,
th {
    width: 500px;
    height: 30px;
    padding: 8px 8px;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

#two .left h2 {
    margin-top: 20% !important;
}

/* ///////////////////////THREE////////////////////// */

#three {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#third {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#three img {
    width: 100%;
}

#three .left img {
    margin: 15% 0;
}

#three .right .bullet_points {
    margin-top: 30%;
}

/* ////////////////////FOUR///////////////////// */

#four {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#fourth {
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

#four img {
    width: 100%;
}

/* /////////////////////FINAL///////////////////// */

#final {
    margin-bottom: 10%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='80' viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23b4b4b4' fill-opacity='0.2'%3E%3Cpath d='M50 50c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10s-10-4.477-10-10 4.477-10 10-10zM10 10c0-5.523 4.477-10 10-10s10 4.477 10 10-4.477 10-10 10c0 5.523-4.477 10-10 10S0 25.523 0 20s4.477-10 10-10zm10 8c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm40 40c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* ///////////////////CONTACT US////////////////// */

#contact {
    background-color: #89a4cc7a;
    position: relative;

}

#contact:hover {
    background-color: #89a4cc;
}

.background-txt {
    /* font-size: 400px; */
    font-size: 16vw;
    font-stretch: condensed;
    font-weight: 200;
    text-align: center;
    color: #0400ffcc;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding: 10vh 0;
}

.contact-btn {
    position: absolute;
    top: 35%;
    left: 35.95833333333333vw;
    z-index: 999;
}

h5 {
    color: #4e4e4e;
    font-size: 100px;
    /* font-size: 6.944444444444445vw; */
    font-weight: 500;
    margin: 0;
}

h5:hover {
    color: #252525;
}

.yes {
    float: right;
    position: absolute;
    left: 115%;
    height: 75%;
    top: 20%;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    left: 2%;
    position: absolute;
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.1111111111111112vw;
}

/* ///////////////////FOOTER////////////////// */


/* /////////////////////////////////////scroll to top/////////////////////////////////// */

#scrollToTop {
    position: fixed;
    bottom: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    display: none;
    opacity: 0.7;
    cursor: pointer;
}

#scrollToTop:before {
    content: "\2191";
    /* Unicode for the upward arrow */
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
    #mobile {
        display: none;
    }
}

/* It page left to do
header and footer clean
footer font padding and size.
*/

@media only screen and (max-width: 768px) {
    #contact {
        height: 60vh;
        z-index: 1;
    }

    #contact a {
        text-decoration: none;
    }

    .background-txt {
        display: none;
    }

    .contact-btn {
        position: relative;
        top: 15vh;
        left: 0;
        text-align: center;
    }

    h5 {
        font-size: 12.5vw;
    }

    .yes {
        position: relative;
        top: 40px;
        left: 0px;
        float: none;
        width: 45vw;
    }

    .btn-under {
        position: relative;
        font-size: 5vw;
    }

    #scrollToTop {
        display: none !important;
    }

}

@media only screen and (max-width: 768px) {
    #contact {
        height: 60vh;
        z-index: 1;
    }

    #contact a {
        text-decoration: none;
    }

    .background-txt {
        display: none;
    }

    .contact-btn {
        position: relative;
        top: 15vh;
        left: 0;
        text-align: center;
    }

    h5 {
        font-size: 12.5vw;
    }

    .yes {
        position: relative;
        top: 40px;
        left: 0px;
        float: none;
        width: 45vw;
    }

    .btn-under {
        position: relative;
        font-size: 5vw;
    }

    #scrollToTop {
        display: none !important;
    }

}

@media only screen and (max-width: 768px) {
    #pcview {
        display: none;
    }

    #mobile {
        margin: 18% 6%;
    }

    #mobile hr {
        margin: 5vh 0;
    }

    .left {
        width: 100%;
    }

    .right {
        width: 100%;
    }

    img {
        width: 100%;
    }

    h2 {
        font-size: 30px;
    }
}


table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    color: #000000;
}

table.GeneratedTable td,
table.GeneratedTable th {
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    padding: 3px;
}

table.GeneratedTable thead {
    background-color: #fede86;
}

.image{
    margin-top: 0;
}

.img2{

}