@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

#updates{
  position: relative;
  margin-top: 20vh;
}

.container {
  height: 100vh;
}

.row {
  position: relative;
}

/* Converted CSS for .carousel-cell */
.carousel-cell {
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}

.col-11 {
  font-size: 10px;
  display: contents;
}

/* Converted CSS for .carousel-main */
.carousel-main {
  width: 66%;
  margin: 0 auto;
}

.col-1 {
  float: left;
  transform: rotate(90deg);
  transform-origin: center;
  position: absolute;
  top: 40%;
}

.carousel-main .carousel-cell {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.carousel-main .flickity-button {
  display: none;
}

/* Converted CSS for .carousel-nav */
.carousel-nav {
  width: 300px;
  color: rgb(190, 190, 190);
}

@media screen and (max-width: 1200px) {
  .carousel-nav {
    transform: rotate(90deg);
  }
}

.carousel-nav .carousel-cell {
  transform: rotate(-90deg);
  width: 80px;
  height: 80px;
  cursor: pointer;
  margin-right: 1rem;
  font-size: 1.4rem;
  color: rgb(179, 179, 179);
}

.carousel-nav .carousel-cell span {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(180deg);
  font-size: 18px;
}

hr {
  width: 80px;
}

.img img {
  width: 100%;
  height: 300px;
}

.carousel-nav .carousel-cell:before {
  transform: rotate(-90deg);
}

.carousel-nav .carousel-cell.is-nav-selected {
  color: black;
}

.carousel-nav .flickity-prev-next-button {
  width: 40px;
  height: 40px;
  background: transparent;
}

.carousel-nav .flickity-prev-next-button.previous {
  left: -40px;
}

.carousel-nav .flickity-prev-next-button.next {
  right: -40px;
}

.carousel-main {
  border: 13px solid rgba(0, 0, 0, 1);
  transition: height 0.2s;
}

.flickity-viewport {
  height: 500px;
  overflow-y: auto;
}

