@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: background-color 0.3s ease-in-out;
}

.button-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-width: 10vw;
}

.header-button {
    background-color: transparent;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.header-button a {
    color: #4e4e4e;
    text-decoration: none;
}

.header-button:hover {
    background-color: #f0f0f0;
}

#header.navbar-scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);/* Optional shadow effect when scrolled */
    transition: background-color 0.3s ease-in-out;
}

/* Media query for responsiveness (optional) */
/* @media screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    .menu button {
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contact-button {
        padding: 8px 16px;
        font-size: 14px;
    }
} */

/* //////////////////TOP/////////////////// */
#Top {
    position: relative;
    height: 100vh;
}

.top_text {
    font-size: 64px;
    font-weight: 700;
    color: #2E31A6;
    left: 10vw;
    top: 25vh;
    max-width: 40vw;

}

.top_image {
    position: absolute;
    z-index: -999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(92, 176, 209);
}

.front {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
}


/* ///////////////////////WHO WE ARE///////////////////////// */

#wwa {
    position: relative;
    margin: 10vh 0;
}

.e191_19 {
    overflow: hidden;
}

.e191_19 {
    width: 1154px;
    height: 484px;
    position: relative;
    position: relative;
    margin: 0 auto;
}

.e191_18 {
    background-color: rgba(137.00000703334808, 204.00000303983688, 255, 1);
    width: 1024px;
    height: 484px;
    position: absolute;
    left: 130px;
    top: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.e191_17 {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 299px;
    height: 432px;
    position: absolute;
    left: 0px;
    top: 26px;
    border-top-left-radius: 47px;
    border-top-right-radius: 47px;
    border-bottom-left-radius: 47px;
    border-bottom-right-radius: 47px;
}

.e120_64 {
    width: 633px;
    height: 324px;
    position: absolute;
    left: 349px;
    top: 74px;
}

.e102_31 {
    color: rgba(0, 0, 0, 1);
    width: 405px;
    height: 54px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Titillium Web;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.10000000149011612;
    line-height: px;
}

.e102_32 {
    color: rgba(0, 0, 0, 1);
    width: 551px;
    height: 208px;
    position: absolute;
    left: 82px;
    top: 78px;
    font-family: Titillium Web;
    text-align: left;
    font-size: 26px;
    letter-spacing: 0.10000000149011612;
    line-height: px;
}

.e120_63 {
    width: 157px;
    height: 40px;
    position: absolute;
    left: 92px;
    top: 284px;
}

.e117_50 {
    color: rgba(0, 0, 0, 1);
    width: 94px;
    height: 40px;
    position: absolute;
    left: 63px;
    top: 0px;
    font-family: Titillium Web;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.10000000149011612;
    line-height: px;
}

.e117_49 {
    border: 1px solid rgba(0, 0, 0, 1);
}

.e117_49 {
    width: 47px;
    height: 0px;
    position: absolute;
    left: 0px;
    top: 20px;
}

/* ///////////////////////////mail_order_systems///////////////////////////// */
#mail_order_systems {
    margin-top: 20%;
}

/* ///////////////////////////what_we_do///////////////////////////// */
#what_we_do {
    margin-top: 10%;
}

.wwd_text {
    width: 783px;
    position: relative;
    text-align: center;
    padding: 0 0 5% 10%;
}

.wwd_text p {
    color: rgba(0, 0, 0, 0.18000000715255737);
    font-family: Mulish;
    font-size: 128px;
    margin: 0;
    font-weight: 900;
}

/* ////////////////////////////UPDATES////////////////////////////// */

#updates {
    margin-top: 10vh;
    position: relative;
}

.container {
    height: 100vh;
}

.row {
    position: relative;
}

/* Converted CSS for .carousel-cell */
.carousel-cell {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.col-11 {
    font-size: 10px;
    display: contents;
}

.carousel-main {
    width: 66%;
    height: 60vh;
    margin: 0 auto;
}

.col-1 {
    float: left;
    transform: rotate(90deg);
    transform-origin: center;
    position: absolute;
    top: 40%;
}

.carousel-main .carousel-cell {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

.carousel-main .flickity-button {
    display: none;
}

.carousel-nav {
    width: 300px;
    color: rgb(190, 190, 190);
}

@media screen and (max-width: 1200px) {
    .carousel-nav {
        transform: rotate(90deg) translate(30px, -50%);
    }
}

.carousel-nav .carousel-cell {
    transform: rotate(-90deg);
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.4rem;
    color: rgb(179, 179, 179);
}

.carousel-nav .carousel-cell span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    font-size: 18px;
}

hr {
    width: 80px;
}

.img img {
    width: 100%;
    height: 300px;
}

.carousel-nav .carousel-cell:before {
    transform: rotate(-90deg);
}

.carousel-nav .carousel-cell.is-nav-selected {
    color: black;
}

.carousel-nav .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background: transparent;
}

.carousel-nav .flickity-prev-next-button.previous {
    left: -40px;
}

.carousel-nav .flickity-prev-next-button.next {
    right: -40px;
}

.carousel-main {
    border: 13px solid rgba(0, 0, 0, 1);
    transition: height 0.2s;
}

.flickity-viewport {
    height: 100%;
    overflow-y: auto;
}

.carousel-main .carousel-cell span {
    max-height: 100%;
}

/* //////////////////OUR STORIES////////////////// */
#ourstories {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 25vh;
}

.ourstories_text :nth-child(1) {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.fade_carousel {
    width: 25%;
    height: 300px;
    margin-right: 10px;
}

.fade_carousel .flickity-button {
    display: none;
}

.fade_carousel .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.fade_carousel .flickity-page-dots {
    bottom: -22px;
}

.fade-cell {
    width: 100%;
}

.fade_image {
    display: block;
    max-height: 100%;
    width: fit-content;
}

/* ////////////////////////OUR CUSTOMERS/////////////////////// */

#our_customers {
    position: relative;
    padding: 20vh 0 20vh 0;
    overflow: hidden;
}

.our-customers-text {
    font-size: 60px;
}

.scrolling-image {
    background: url("Assets\client_202323.jpg") repeat-x;
    height: 10%;
    width: 3820px;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2070px, 0, 0);
    }
}


.our-customers-text {
    margin-left: 10vw;
    font-weight: 600;
}

/* ///////////////////CONTACT US////////////////// */

#contact {
    background-color: #89a4cc7a;
    position: relative;
    
}

#contact:hover{
    background-color: #609efc;
}

.background-txt {
    /* font-size: 400px; */
    font-size: 16vw;
    font-stretch: condensed;
    font-weight: 200;
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
    color: #0400ffcc;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding: 10vh 0;
}

.contact-btn {
    position: absolute;
    top: 35%;
    left: 35.95833333333333vw;
    z-index: 999;
}

h5 {
    color: #4e4e4e;
    font-size: 100px;
    /* font-size: 6.944444444444445vw; */
    transform: scale(1, 0.8);
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    margin: 0;
}

h5:hover{
    color: #252525;
}

.yes {
    float: right;
    position: absolute;
    left: 115%;
    height: 75%;
    top: 20%;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    left: 2%;
    position: absolute;
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.1111111111111112vw;
}

/* ///////////////////FOOTER////////////////// */

#footer {
    background-color: #2E31A6;
}

.footer-full {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    height: 20vh;
    padding: 10vh 0;
    color: #C6D3E7;
}

.footer-full a{
    color: #C6D3E7;
    text-decoration: none;
}

.footer_text{
    font-size: 40px;
    font-weight: 700;
}

.brand img {
    width: 200px;
}

.footerbtns {
    color: #C6D3E7;
    text-decoration: none;
    padding: 20px;
}

.copyright {
    color: #C6D3E7;
    background-color: #4e4e4e;
    padding: 2vh 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
}

/* ///////////////////////scroll to top////////////////////// */

#scrollToTop {
    position: fixed;
    bottom: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    display: none;
    opacity: 0.7;
    cursor: pointer;
}

#scrollToTop:before {
    content: "\2191";
    /* Unicode for the upward arrow */
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



/* left to do:
our stories link -- 30mins
new who we are design -- 1hr
PRO page -- 2hrs
mobile view -- 5hrs
image search -- 1hr
company goals and mission text revamp -- 45mins
mobile page -- 5hrs
*/