@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.animation {
    z-index: -999;
}

.bg {
    animation: slide 5s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(0, 4, 255) 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: absolute;
    right: -50%;
    top: 0;
    width: 500%;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-direction: alternate-reverse;
    animation-duration: 5s;
}


@keyframes slide {
    0% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(25%);
    }
}


/* //////////////////TOP/////////////////// */
#Top {
    position: relative;
    height: 100vh;
}

.top_text {
    font-size: 64px;
    font-weight: 700;
    color: #2E31A6;
    left: 10vw;
    top: 25vh;
    max-width: 40vw;
}

.top_image {
    position: absolute;
    z-index: -999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(92, 176, 209);
}

.top_image img {
    height: 100vh;
    width: 100%;
}

.front {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 20vh;
}

/* ///////////////////////////heading text/////////////////////////// */

.heading_text {
    font-size: 100px;
    font-weight: 1000;
    color: #2e30a6d2;
    text-decoration: underline;
    position: relative;
    left: 10%;
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

/* ////////////////////////////////////////WHO WE ARE///////////////////////////////////// */

#wwa {
    position: relative;
    /* margin: 15vh 0 35vh 0; */
}

.wwa {
    width: 66%;
    height: 52vh;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.main_blue {
    background-color: rgba(137.00000703334808, 204.00000303983688, 255, 1);
    width: 1024px;
    height: 484px;
    position: absolute;
    left: 116px;
    top: 0px;
    border-radius: 30px;
}

.wwa_image {
    background-color: rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
    width: 299px;
    height: 432px;
    position: absolute;
    left: 0px;
    top: 26px;
    border-radius: 47px;
    overflow: hidden;
}

.wwa_image img {
    height: 100%;
    overflow: hidden;
}

.wwa_text {
    position: relative;
    width: 40%;
    height: 100%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 1);
    text-align: left;
    font-size: 26px;
}

.wwa_text p {
    font-size: 56px;
    color: #ffffff;
}

.wwa_text span:nth-child(2) {
    font-size: 16px;
}

.wwa_text a {
    text-decoration: none;
}

/* ////////////////////////////////////////UPDATES//////////////////////////////////////// */

#updates {
    padding: 10vh 0;
    position: relative;
}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}


.row {
    position: relative;
}

/* Converted CSS for .carousel-cell */
.carousel-cell {
    background: rgba(214, 214, 214, 0.712);
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 30px;
    overflow-y: auto;
    overflow-x: hidden;
}

.col-11 {
    font-size: 10px;
    display: contents;
}

.carousel-main {
    width: 66%;
    height: 60vh;
    margin: 0 auto;
}

.col-1 {
    /* float: left; */
    transform: rotate(90deg);
    transform-origin: center;
    position: absolute;
    top: 40%;
}

.carousel-main .carousel-cell {
    width: 100%;
    height: 100%;
    font-size: 16px;
    text-shadow: 8px 8px 10px #0000008c;
}

.carousel-main .flickity-button {
    display: none;
}

.carousel-nav {
    width: 300px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 1200px) {
    .carousel-nav {
        transform: rotate(90deg) translate(30px, -50%);
    }
}

.carousel-nav .carousel-cell {
    transform: rotate(-90deg);
    width: 80px;
    height: 80px;
    cursor: pointer;
    margin-right: 1rem;
    font-size: 1.4rem;
    color: rgb(0, 0, 0);
    background-color: transparent;
}

.carousel-nav .carousel-cell span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(180deg);
    font-size: 18px;
}

hr {
    width: 90%;
    color: #000000;
    border-style: dotted;
    border-radius: 50%;
}

.img img {
    width: 100%;
    height: 300px;
}

.carousel-nav .carousel-cell:before {
    transform: rotate(-90deg);
}

.carousel-nav .carousel-cell.is-nav-selected {
    color: rgb(255, 255, 255);
}

.carousel-nav .carousel-cell.is-nav-selected hr {
    width: 90%;
    color: #ffffff;
    border-style: dotted;
    border-radius: 50%;
}

.carousel-nav .flickity-prev-next-button {
    width: 40px;
    height: 40px;
    background: transparent;
}

.carousel-nav .flickity-prev-next-button.previous {
    left: -40px;
}

.carousel-nav .flickity-prev-next-button.next {
    right: -40px;
}

.carousel-main {
    transition: height 0.2s;
}

.flickity-viewport {
    height: 100%;
    overflow-y: auto;
}

.carousel-main .carousel-cell span {
    max-height: 100%;
    overflow: scroll;
    padding-bottom: 10px;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */

}

.carousel-main .carousel-cell span::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/* ////////////////////////////////OUR STORIES//////////////////////////////////// */

#ourstories {
    position: relative;
    background-image: radial-gradient(at 40% 20%, rgb(122, 217, 255) 0px, transparent 50%),
        radial-gradient(at 80% 0%, hsla(189, 100%, 56%, 1) 0px, transparent 50%),
        radial-gradient(at 0% 50%, rgb(0, 162, 255) 0px, transparent 50%),
        radial-gradient(at 80% 50%, rgb(0, 247, 255) 0px, transparent 50%),
        radial-gradient(at 0% 100%, rgb(17, 0, 255) 0px, transparent 50%),
        radial-gradient(at 80% 100%, rgb(55, 0, 255) 0px, transparent 50%),
        radial-gradient(at 0% 0%, rgb(0, 37, 248) 0px, transparent 50%);
}

.stories {
    width: 800px;
    margin: 0 auto;
}

.stories h1 {
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    margin-bottom: -3 rem;
    padding-top: 10vh;
}

.slide-row {
    display: flex;
    width: 2720px;
    transition: 0.5s;
    justify-content: space-between;
}

.slide-col {
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img {
    position: absolute;
    top: 20%;
    right: 0;
    height: 100%;
    z-index: 100;
}

.user-img img {
    /* height: 100%; */
    border-radius: 10px;
    width: 420px;
    object-fit: cover;
}

.user-text {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #4d4352;
    padding: 45px;
    z-index: 2;
}

.user-text p {
    font-size: 18px;
    line-height: 24px;
    width: 60%;
}

.user-text h2 {
    margin: 35px 0 5px;
    color: #4d4352;
}

.indicator {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.indicator .btn {
    display: inline-block;
    height: 27px;
    width: 30px;
    margin: 4px;
    border-radius: 15px;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    margin-bottom: 2vh;
}

.btn.active {
    width: 81px;
}

.btn p {
    width: 100%;
    margin: auto 0;
}

.btn.active p {
    display: none;
}

.testimonial {
    width: 100%;
    overflow: hidden;
}

.learn_more {
    background-color: #27BCE6 !important;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}

.learn_more a {
    text-decoration: none;
    color: #ffffff;
}

/* ///////////////////////////////////OUR CUSTOMERS///////////////////////////////// */

#our_customers {
    position: relative;
    overflow: hidden;
}

.our-customers-text {
    font-size: 60px;
}

.scrolling-image {
    background: url("Assets\client_202323.jpg") repeat-x;
    height: 10%;
    width: 3820px;
    animation: slide 10s linear infinite;
}

.banner-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.banner-image {
    /* Ensure the image is wider than the viewport to allow scrolling effect */
    width: auto;
    /* Adjust the height as needed */
    height: auto;
    /* Animation properties */
    animation: scrollBanner 30s linear infinite;
}

@keyframes scrollBanner {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}


.our-customers-text {
    margin-left: 10vw;
    font-weight: 600;
}

/* ///////////////////////////////////CONTACT US///////////////////////////////////// */

#contact {
    background-color: #89a4cc7a;
    position: relative;

}

#contact:hover {
    background-color: #89a4cc;
}

.background-txt {
    /* font-size: 400px; */
    font-size: 16vw;
    font-stretch: condensed;
    font-weight: 200;
    text-align: center;
    color: #0400ffcc;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding: 10vh 0;
}

.contact-btn {
    position: absolute;
    top: 35%;
    left: 35.95833333333333vw;
    z-index: 999;
}

h5 {
    color: #4e4e4e;
    font-size: 100px;
    /* font-size: 6.944444444444445vw; */
    font-weight: 500;
    margin: 0;
}

h5:hover {
    color: #252525;
}

.yes {
    float: right;
    position: absolute;
    left: 115%;
    height: 75%;
    top: 20%;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    left: 2%;
    position: absolute;
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.1111111111111112vw;
}

/* /////////////////////////////////////FOOTER////////////////////////////////////////// */

/* /////////////////////////////////////scroll to top/////////////////////////////////// */

#scrollToTop {
    position: fixed;
    bottom: 15px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    display: none;
    opacity: 0.7;
    cursor: pointer;
}

#scrollToTop:before {
    content: "\2191";
    /* Unicode for the upward arrow */
    font-size: 24px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* //////////////////////////////coming soon/////////////////////////// */

#coming_soon {
    background-color: #00dffc5e;

}

.coming_soon {
    font-size: 80px;
    font-weight: 900;
    color: #2E31A6;
    text-decoration: underline;
    text-align: center;
    margin: 40vh 0;
}



/* left to do:
toppu
kochira links

optional:
underline on button select

timeline in landing

entire image our stories
scrolling banner
our services text
IT and contact page background


fit screen on landing page
change header and footer for everything
*/

/* ////////////////////////media queries for every section//////////////////////// */

/* /////////////////////top/////////////////////*/

@media screen and (max-width: 768px) {

    .front {
        display: flex;
        flex-direction: column;
    }

    .top_text {
        font-size: 40px;
        max-width: 90%;
    }

    .top_logo img {
        width: 100vw;
    }

    .top_image img {
        width: auto;
    }

    .coming_soon {
        font-size: 60px;
        font-weight: 900;
        color: #2E31A6;
        text-decoration: underline;
        text-align: center;
        margin: 40vh 0;
    }

}


/* ///////////////////////////heading text/////////////////////////// */

@media screen and (max-width: 768px) {

    .heading_text {
        font-size: 3rem;
        left: 3%;
    }

}

/* ////////////////////////////wwa//////////////////////////// */

@media screen and (max-width: 768px) {

    .wwa {
        width: 90%;
        height: 76vh;
    }

    .wwa_image {
        top: 0;
        position: relative;
        width: 252px;
        height: 336px;
    }

    .main_blue {
        width: 100%;
        height: 70%;
        left: 0;
        top: 30%;
    }

    .wwa_text {
        width: 90%;
        /* margin: 10px; */
    }

    .wwa_text p {
        margin: 0px;
    }

    .wwa_text span {
        font-size: 16px;
    }

    .wwa_text span:nth-child(2) {
        position: relative;
        top: -7%;
        right: -64%;
    }

}


/* ////////////////////////////updates//////////////////////////// */

@media screen and (max-width: 768px) {

    .carousel-main {
        width: 90%;
    }

    .carousel-cell {
        flex-direction: column-reverse;
        overflow: scroll;
        justify-content: flex-end;
    }

    .img img {
        width: 100%;
        height: auto;
    }

    .image img {
        width: 100%;
        height: auto;
    }

    .carousel-cell span {
        margin: 2% 7%;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .col-1 {
        transform: rotate(270deg);
        transform-origin: center;
        position: absolute;
        top: -42px;
        left: 6%;
    }

    .carousel-nav .carousel-cell span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: rotate(0deg);
        font-size: 18px;
    }


    .container {
        -ms-overflow-style: block;
        /* Internet Explorer 10+ */
        scrollbar-width: block;
        /* Firefox */
    }

    .container::-webkit-scrollbar {
        display: block;
        /* Safari and Chrome */
    }

}

/* //////////////////////our stories////////////////// */

@media screen and (max-width: 768px) {

    .stories {
        width: 100%;
    }

    .slide-row {
        display: flex;
        width: 2720px;
        transition: 0.5s;
        justify-content: initial;
    }

    .slide-col {
        width: 100vw;
        height: 55vh;
        position: relative;
    }

    .user-text {
        background: rgba(255, 255, 255, 0.7);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        /* -webkit-backdrop-filter: blur(4.5px); */
        position: relative;
        top: 57%;
        transform: translateY(-50%);
        border-radius: 10px;
        color: #4d4352;
        padding: 25px;
        margin: 25px;
        z-index: 2;
        width: auto;
        height: auto;
        display: block;
    }

    .user-img {
        /* position: relative; */
        width: 100%;
        z-index: 100;
        margin: 0 auto;
        height: auto;
    }

    .user-img img {
        height: auto;
        border-radius: 10px;
        width: 320px;
        object-fit: cover;
        margin: 2%;
    }

    .indicator {
        margin-top: 0;
    }

    .user-text p {
        width: auto;
    }

}

/* ///////////////////////////////banner/////////////////////// */

@media only screen and (max-width: 768px) {

    .banner-image {
        height: auto;
        width: auto;
    }
}

/* ///////////////////////////contact//////////////////////// */

@media only screen and (max-width: 768px) {
    #contact {
        height: 60vh;
        z-index: 1;
    }

    #contact a {
        text-decoration: none;
    }

    .background-txt {
        display: none;
    }

    .contact-btn {
        position: relative;
        top: 15vh;
        left: 0;
        text-align: center;
    }

    h5 {
        font-size: 12.5vw;
    }

    .yes {
        position: relative;
        top: 40px;
        left: 0px;
        float: none;
        width: 45vw;
    }

    .btn-under {
        position: relative;
        font-size: 5vw;
    }

    #scrollToTop {
        display: none !important;
    }



}