@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Mulish', sans-serif;
}

#header {
    background-color: gray;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 9999;
    position: sticky;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    color: #27BCE6;
}

.menu button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.contact-button {
    background-color: #27BCE6 !important;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.contact-button a {
    text-decoration: none;
color: #EEE;
}

.menu {
    display: flex;
    align-items: center;
}

.menu button:not(:last-child) {
    margin-right: 10px;
}

/* Media query for responsiveness (optional) */
/* @media screen and (max-width: 768px) {
    .logo {
        font-size: 20px;
    }

    .menu button {
        font-size: 14px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .contact-button {
        padding: 8px 16px;
        font-size: 14px;
    }
} */

/* //////////////////TOP/////////////////// */
#Top {
    position: relative;
}

.top_text {
    position: absolute;
    font-size: 64px;
    font-weight: 600;
    color: #27BCE6;
    left: 10vw;
    top: 25vh;
    max-width: 40vw;

}

.top_image {
    z-index: -999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: gray;
}

/* ///////////////////////WHO WE ARE///////////////////////// */
#who_we_are {
    position: relative;
}

.wwa_heading_text {
    font-size: 60px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.wwa_body_text {
    font-size: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wwa_body_text p {
    display: flex;
    flex-direction: column;
    max-width: 40vw;
    align-items: center;
}

.wwa_body_text p:nth-child(1) {
    font-size: 28px;
    font-weight: 500;
}

.wwa_body_text p:nth-child(3) {
    font-size: 28px;
    font-weight: 500;
}

/* ////////////////////////////UPDATES////////////////////////////// */
#updates {
    position: relative;
}

.updates_text {
    font-size: 40px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.learn-more {
    background-color: #27BCE6 !important;
    color: #ffffff;
    padding: 10px 20px;
    margin-top: 3vh;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* ??????????carousel??????????? */

.carousel {
    background: #EEE;
    height: 40vh;
    width: 100%;
}

.carousel-cell {
    width: 32%;
    height: 100%;
    margin-right: 10px;
    background: rgb(56, 56, 56);
    border-radius: 5px;
    counter-increment: gallery-cell;
}

.carousel .flickity-page-dots {
    bottom: 0px;
}

.carousel .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: transparent;
    border: 2px solid white;
}

.carousel .flickity-page-dots .dot.is-selected {
    background: white;
}


/* //////////////////OUR STORIES////////////////// */
#ourstories {
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-top: 25vh;
}

.ourstories_text :nth-child(1) {
    font-size: 60px;
    font-weight: 400;
    margin: 0;
}

.fade_carousel {
    width: 25%;
    height: 300px;
    margin-right: 10px;
}

.fade_carousel .flickity-button {
    display: none;
}

.fade_carousel .flickity-page-dots .dot {
    height: 4px;
    width: 40px;
    margin: 0;
    border-radius: 0;
}

.fade_carousel .flickity-page-dots {
    bottom: -22px;
}

.fade-cell {
    width: 100%;
}

.fade_imagge {
    display: block;
    max-height: 100%;
    width: fit-content;
}

/* ////////////////////////OUR CUSTOMERS/////////////////////// */

#our_customers {
    position: relative;
    padding: 20vh 0 20vh 0;
    overflow: hidden;
}

.our-customers-text {
    font-size: 60px;
}

.scrolling-image {
    background: url("Assets\client_202323.jpg") repeat-x;
    height: 560px;
    width: 3820px;
    animation: slide 10s linear infinite;
}

@keyframes slide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(-2070px, 0, 0);
    }
}


.our-customers-text {
    margin-left: 10vw;
    font-weight: 600;
}

/* ///////////////////CONTACT US////////////////// */

#contact {
    background-color: #89a4cc7a;
    position: relative;
}

.background-txt {
    /* font-size: 400px; */
    font-size: 16vw;
    font-stretch: condensed;
    font-weight: 200;
    font-family: 'Anek Bangla', sans-serif;
    text-align: center;
    color: #0400ffcc;
    opacity: 4%;
    font-weight: 300;
    z-index: -99;
    padding: 10vh 0;
}

.contact-btn {
    position: absolute;
    top: 35%;
    left: 35.95833333333333vw;
    z-index: 999;
}

h5 {
    color: #4e4e4e;
    font-size: 100px;
    /* font-size: 6.944444444444445vw; */
    transform: scale(1, 0.8);
    font-weight: 500;
    font-family: 'Anek Bangla', sans-serif;
    margin: 0;
}

.yes {
    float: right;
    position: absolute;
    left: 115%;
    height: 75%;
    top: 20%;
}

.btn-under {
    color: #111111;
    margin: 0;
    top: 80%;
    left: 2%;
    position: absolute;
    font-weight: 400;
    opacity: 0.6;
    font-size: 1.1111111111111112vw;
}

/* ///////////////////FOOTER////////////////// */

#footer{
    background-color: #2E31A6;

}

.footer-full{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10vw;
    height: 20vh;
    padding: 10vh 0;
}

.brand img{
    width: 164px;
}

.footer-btns{
    font-size: 26px;
}

.footerbtns{
    color: #EEE;
    text-decoration: none;
    padding: 20px;
}

.copyright{
    color: #EEE;
    background-color: #4e4e4e;
    padding: 2vh 0;
    font-size: 12px;
    display: flex;
    justify-content: center;
}