@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;500;600;700;800;900;1000&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #00dffc5e;
}

/* preloader */

/* thankyou */

#thankyou {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.up1 {
    font-weight: 300;
    font-size: 8.333333333333334vw;
    font-family: 'Anek Bangla', sans-serif;
    margin-top: 18.363636vh;
}

.up2 {
    line-height: 200%;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.tel {
    position: relative;
    font-family: 'Anek Bangla', sans-serif;
    font-size: 2.2222222222222223vw;
    font-weight: 300;
    font-stretch: normal;
    letter-spacing: 0.05em;
    margin-bottom: 11.363636363636363vh;
}

.tel span {
    position: relative;
    font-size: 0.9722222222222222vw;
    font-weight: 200;
    font-stretch: normal;
    line-height: 100%;
    color: rgb(210, 210, 210);
    opacity: 0.5;
    top: 45%;
    left: -6%;
    top: 2vw;
}

@media only screen and (max-width: 600px) {
    .up1 {
        font-size: 12.5vw;
        font-weight: 500;
        padding: 0 20%;
        line-height: 100%;
    }

    br {
        display: none;
    }

    .up2 {
        padding: 4%;
    }

    .tel {
        text-align: center;
        font-size: 7.5vw;
    }

    .tel span {
        position: absolute;
        text-align: left;
        font-size: 4.0625vw;
        top: -2.1875vw;
        left: 21.6875vw;    
    }

}


.last {
    font-size: 1.25vw;
    color: #151515;
    font-family: 'Anek Bangla', sans-serif;
    z-index: -1;
    font-weight: 350;
    padding-left: 300px;
    padding-left: 39vw;
    opacity: 0.3;
    top: -3.9vw;
    position: relative;
}

.topbutton {
    background-color: #000000;
    padding: 4.3888888888888888vw;
    width: 80%;
    margin: 9vw 0;
    border: none;
}

.topbutton a {
    text-decoration: none;
    color: #FFF;
    font-size: 1.6666666666666667vw;
    font-weight: 300;
}

.brand {
    display: none;
}

@media only screen and (max-width: 600px) {

    .up3{
        padding: 0 4%;
    }

    .topbutton{
        font-size: 4.375vw;
        background-color: #000000;
        color: white;
        /* padding: 60px 20px; */
        padding: 10% 1%;
        border: none;
        cursor: pointer;
        width: 100%;
        margin: 20% 0%;
    }

    .topbutton a {
        font-size: 5vw;
    }
}

